<!--home.html-->
{% extends "base.html" %}

{% block content %}
<div class="posts">
    {% for slide in SlideList %}
        <section class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url "Slide" id=slide.id %}">{{ slide.title }}</a></h2>

                    <p class="post-meta">
                        Time:  <a class="post-author" href="#">{{ slide.date_time |date:"Y /m /d"}}</a> 

                    </p>
            </header>

                <div class="post-description">
                    <img src=slide.img>
                    <p>
                        {{ slide.content|truncatewords_html:2 }}
                    </p>
                </div>
                <a class="pure-button" href="{% url "Slide" id=slide.id %}">Read More >>> </a>
        </section>
    {% endfor %}

</div><!-- /.blog-post -->
{% endblock %}