.contentbox{
	display: inline;
	width:100px
}

.container {
	width: 100%;
	padding:0px 0px 0px 0px;
	margin:0px auto 0 auto;
}

.box {
	width:300px;
	height:200px;
	margin:3px 20px 20px 50px;
	float:left;
	position: relative;
}

.box-content {
	display:block;
	padding:20px;
	width: 100%;
	height: 100%;
	background: #333;
	color:#ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}

.box-overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top:0;
	left:0;
	z-index:10;
}

a.link {
	display:block;
	width: 100%;
	height: 100%;		
	position: absolute;
	top:0;
	left:0;
	z-index:15;		
}

/* custom css styling */
.box-content .box-wrapper {
	width: 100%;
	height: 100%;
	font-size:24px;
	display:block;
	padding:30px 0 10px 0;
	text-align:center;
	margin-bottom:10px;
	border:2px solid #fff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
}
.box-content span.name {
	display:block;
	text-align:center;
	font-family:georgia;
	font-style:italic;
	font-size:14px;
	font-weight:normal;
	margin-top:5px;
}

.box-content .row {
	margin-top:10px;
	font-size:12px;
	color:#ddd;
}



#nav {
	overflow:hidden;
	margin:15px auto;
	padding:0;
	list-style:none;
	width: 590px;
}
	#nav li {
		float:left;
		padding:5px;
		list-style:none;
		text-align:center;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;
	}
	
	#nav li a {
		text-decoration:none;
		color:#fff;
		display:block;
		width: 100%;
		padding:5px 10px;					
		background: #666;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		-ms-border-radius: 5px;
		-o-border-radius: 5px;
		border-radius: 5px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		-o-box-sizing: border-box;		
	}
	
		#nav li a:hover,
		#nav li.current a {
			background: #ccc;
			color:#666;
		}
		

#info {
-webkit-border-radius:5px;
-moz-border-radius:5px;
border-radius:5px;				
background:#fcf8e3;
border:1px solid  #fbeed5;
width:70%;
max-width:900px;
margin:0 auto 20px auto;
font-family:arial;
font-size:12px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;
}

#info .info-wrapper {
	padding:10px;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-o-box-sizing: border-box;

}

#info a {
	color:#c09853;
	text-decoration:none;
}

#info p {
	margin:5px 0 0 0;
}		
.size_clone {
	height:inherit;
	width:inherit;
}

.competition_section {
	background-color:black;
	opacity:0.7;
}

.lecture_section {
	background-color:white;
	opacity:0.8;
}

.homepage {
	background:url(../images/BG1.png) fixed ;
}

.scrolling_box {

}

.SubHeading {
	text-align:center;
	color:white;
	font-family:Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	font-size:30px;
	letter-spacing: 3px;
	margin-top:40px;
}

.SubHeading2 {
	text-align:center;
	color:black;
	font-family:Impact, Haettenschweiler, Franklin Gothic Bold, Arial Black," sans-serif";
	font-size:30px;
	letter-spacing: 3px;
	margin-top:40px;
	
}

.PicTitle {
	text-align:center;
	font-size:18px;	
}

.MoreButton {
	margin-top:100px;
	text-align:right;
	font-size:18px;
	color:white;
	margin-right:100px;
}

.MoreBox {
	height:100px;
}

.EnphasizeLetter {
	font-size:28px;
}

.MoreButton2 {
	margin-top:100px;
	text-align:right;
	font-size:18px;
	color:black;
	margin-right:100px;
}
.PicTitle2 {
	text-align:center;
	font-size:18px;	
	color:black;
}

.footer {
	padding:50px 300px;
	background-color:#0092B8;
	background-clip:padding-box;
	height:220px;
    opacity:0.9;
}

.pills {
	text-align:right;
	color:white;
	font-size:16px;
}

.keybox{
	border-radius:20px;
	padding:18px 30px;
	height:350px;
	width:100%;
	background-color: dimgray;
	opacity:0.8;
}

.TitleInBox{
	font-size:16px;
}


.ImgContainer{
	height:200px;
	padding:0px;
}

.ImgInclude
{
	height:170px;
	position:absolute;
	width:260px;
}
.divider2{
	position:absolute;
	height: 200px;
	top:-13px;
	left:270px;
}
.SectionBox{
	position:absolute;
	border-radius:20px;
	background:darkgray;
	height:185px;
	left:300px;
	width:735px;
	opacity:0.6;
	top:-6px;
	
}
.TitleContainer{
	background-color:#F75174;
	opacity:0.55;
	height:240px;
	width:100%;
	padding:40px 60px;
	border-radius: 5px;
}
.MainTitle{
	color:black;
	text-align:center;
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size:60px;
}
.SubTitle{
	color:black;
	text-align:center;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-size:30px;
}
#BasicInfo{
	color:black;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	font-size:42px;
	letter-spacing: 10px;
	text-align: center;
}
.Label{
	background-color:#1A9DBF;
	opacity:0.6;
	border-radius: 6px;
	height:40px;
	border-color: #1A9DBF;	
	padding:1px 30px;
	margin:10px;
}
.Content{
	color:black;
	float:right;
	color:white;
	
}
.pa-md-1{
	padding:0 0 0 150px;
	width:
}
.Introp{
	color:black;
	margin:0px 0 0 0;
	font-size:22px;
	word-break: break-all;
	padding:10px;
}
.WordContainer{
	padding-top:30px;
	padding-left:50px;
	height:300px
}
.PicContainer{
	padding:20px;
}
.Title{
	width:100%;
}
.portrait{
	width:120px;
	position:absolute;
	left:390px;
	top:5px
}

.TitleCon{
	padding-top:60px;
	padding-left:0px;
}
.LogoContainer{
	padding-top:40px;

}
.bar{
	width:65%;
	float:right;

}
.BarContainer{
	padding-top:23px;
}
.TitleLogo{
}
.NavLabel{
	width:55px;
	opacity:0.5;
}

.NavName{
	color:black;
	position:relative;
	font-size:10px;
	left:-3px;
	top:-16px;
	opacity:0.4;
}
.NavName0{
	color:black;
	position:relative;
	font-size:10px;
	left:12px;
	top:-18px;
	opacity:0.4;
}
.NavName2{
	color:black;
	font-size:10px;
	position:relative;
	left:3px;
	top:-18px;
	opacity:0.4;
}
.NavContainer{
	position:relative;
	top:-100px;
	left:-45px;
}
.NavLabel:hover .NavName{
	opacity:1;
	
}
.NavName:hover {
	color:#3AA6C1;
	opacity:1;
	animation:bounce;
}
.deplace{
	margin:1px 17px;	
}
.deplace:hover .NavName{
	color:#3AA6C1;
	opacity:1;
	animation:wow fadeInUp
}
.deplace:hover .NavLabel {
	opacity:1;
}
.deplace:hover .NavName0{
	color:#3AA6C1;
	opacity:1;
	animation:wow fadeInUp;

}
.deplace:hover .NavName2{
	color:#3AA6C1;
	opacity:1;
	animation:wow fadeInUp
}
.log{
	position:relative;
	left:255px;
	top:14px;
	color:black;
	opacity:0.6;
	display:inline;
	cursor:pointer;
}
.sign{
	position:relative;
	left:270px;
	top:14px;
	color:black;
	opacity:0.6;
	display:inline;
	cursor:pointer;
}
.sign:hover{
	background:#F45376;
	padding:4px;
	border-radius: 5px;
	background-clip:padding-box;
	font-size:12px;
	color:white;
	opacity:0.5;
	-webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -o-transition:0.3s ease;
    -ms-transition:0.3s ease;
    transition:0.3s ease;
}
.log:hover{
	background:#F45376;
	padding:4px;
	border-radius: 5px;
	background-clip:padding-box;
	font-size:12px;
	color:white;
	opacity:0.5;
	-webkit-transition:0.3s ease;
    -moz-transition:0.3s ease;
    -o-transition:0.3s ease;
    -ms-transition:0.3s ease;
    transition:0.3s ease;
}
.divider{
	position:relative;
	left:262px;
	top:14px;
	color:#3AA6C1;
	display:inline;
}
.contact{
	position:relative;
	left:380px;
	top:13.5px;
	color:black;
	opacity:0.4;
	display:inline;
	font-size:12px;
	cursor:pointer;
}
.contact:hover{
	opacity:1;
	top:10px;
	-webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -o-transition:0.4s ease;
    -ms-transition:0.4s ease;
    transition:0.4s ease;
}
.Dlog{
	width:360px;
	height:400px;
	padding:20px;
	border-radius:10px;
	background-color:#A0A0A0;
	opacity:0.75;
}
.dede_pages{ 
	text-align:right;	
	padding-right:80px;
}
.dede_pages ul{
	float:right;
	padding:12px 0px 12px 16px;	
}
.dede_pages ul li{
	float:left;
	list-style: none;
	font-family:Impact, Haettenschweiler, "Franklin Gothic Bold", "Arial Black", "sans-serif";
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#F15272;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#1693B6;
	font-weight:normal;
	margin:0px 2px;
} 
.tag{
	padding:40px 100px 6px 0;
}
.tagu{
	color:black;
	position:relative;
	top:0px;
	opacity:0.64;
	display:inline;
	font-size:20px;
	cursor:pointer;
	background-color: #FB9FB2;
    padding:10px 20px;
	border-radius: 6px;
	margin:3px;
}
.tagu:hover{
	opacity:1;
	top:-7px;
	-webkit-transition:0.4s ease;
    -moz-transition:0.4s ease;
    -o-transition:0.4s ease;
    -ms-transition:0.4s ease;
    transition:0.4s ease;
}
.intro{
	background-color: rgb(0,0,0);
	opacity:0.7;
	height:400px;
	padding:30px;
	position:relative;
}
.leftTitle{
	height:200px;
	float:left;
}
.divider3{
	height:200px;
	width:26px;
	padding-left:20px;
	padding-top:10px;
	opacity:0.8;
}
.leftTitle2{
	height:350px;
	float:left;
}
.rightTitle{
	height:300px;
	float:right;
}
.divider4{
	height:200px;
	width:26px;
	padding-right:20px;
	padding-top:10px;
	opacity:0.8;
	float:right;
}
.method{
	background-color: rgb(0,0,0);
	opacity:0.4;
	height:400px;
	padding:30px;
}
.award{
	background-color: rgb(0,0,0);
	opacity:0.7;
	height:400px;
	padding:30px;
}
.footer2 {
	padding:50px 300px;
	background-color:grey;
	background-clip:padding-box;
	height:220px;
    opacity:0.9;
}